// Place all the styles related to the Journals controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body{
    background-color: #c0b566;
}

.mainFont{
    color: #0b1a04;
    font-family: Arial;
}

.banner {
    width:100%;
    min-height:189px;
    background-repeat: no-repeat;
    background-image: url('header_image.png');
    background-size: cover;
}

.main {
    margin-left: 50px;
    margin-right: 50px;
}

table {
    width: 100%;
    border-collapse: collapse;

}

.tableDiv {
    padding: 50px, 50px;
   
}

table, th, td {
    border: 1px solid black;
}

#tableHeader{
    background-color: #0b1a04;
    color: white;
}

th, td {
  padding: 15px;
  text-align: left;
}