// Place all the styles related to the Journals controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


body{
    background-color: #f5f5dc;
}

.row{
    display: inline-block;
}

#search-div{
    margin-bottom: 15px;
}
.mainFont{
    color: #0b1a04;
    font-family: Arial;
}

.banner {
    width:100%;
    min-height:189px;
    background-repeat: no-repeat;
    background-image: url('header_image.png');
    background-size: cover;
}

.main {
    margin-left: 50px;
    margin-right: 50px;
}

#reflection_table {
    width: 50%;
    border-collapse: collapse;
}

table {
    width: 100%;
    border-collapse: collapse;
}

.tableDiv {
    padding: 50px, 50px;
   
}

table, th, td {
    border: 1px solid black;
}

#tableHeader{
    background-color: #204B24;
    color: white;
}

th {
  padding: 15px;
  text-align: center;
}

td{
    padding-left: 10px;
}

#tools{
text-align: center;   
padding: 5px 5px;
}

.button, input[type=submit], input[type=button]{
    background-color: #204B24;
    border: none;
    color: white;
    padding: 10px;
    text-decoration: none;
    cursor: pointer;
    display: inline-block;
}

.button-icon {
    &:hover {
    color: white;
    background-color: #204B24;
  }
    border: none;
    color: #204B24;
    padding: 10px;
    text-decoration: none;
    cursor: pointer;
    display: inline-block;
}

.inline {
    display: inline-block;
}

#reflection_text{
    width: 50%;
    height: 200px;
    padding: 12px 12px;
    border: 2px solid #ccc;
    background-color: #f8f8f8;
    resize: none;
    margin-right: 12px;
}