<h1>Listing Journals</h1>
<%= link_to 'New Journal Entry', new_journal_path %>
 
<table>
  <tr>
    <th>Title</th>
    <th>Text</th>
  </tr>
 
  <% @journal.each do |journal| %>
    <tr>
      <td><%= journal.title %></td>
      <td><%= journal.text %></td>
      <td><%= link_to 'Show', journal_path(journal) %></td>
    </tr>
  <% end %>
</table>
