<body>
    <header class="banner">
        
    </header>
    <main>
        <h1>My Food Journal</h1>
        <%= link_to 'My Food Journal', controller: 'journals' %>
    </main>
    <footer>
        
    </footer>
</body>
