<body class ="mainFont">
    <header class="banner">
        
    </header>
    <div class="main">
        <h1>My Food Journal</h1>
        <%= link_to 'My Food Journal', controller: 'journals', class: 'button' %>
    </div>
    <footer>
        
    </footer>
</body>