<%= form_for([@journal, @journal.motivates.build]) do |f| %>
    <p>
        <%= f.label "message:" %><br>
        <%= f.text_area :message, id: "reflection_text" %>
    </p>
    <p>
        <%= f.submit   "Create Reflection" %>
    </p>
<% end %>
