<p>
    <strong> Motivater: </strong>
    <%= motivate.motivator %>
</p>
                
<p>
    <strong> Motivation: </strong>
    <%= motivate.message %>
</p>

<p>
    <%= link_to 'Delete Reflection' , [motivate.journal, motivate],
                method: :delete,
                data: { confirm: 'Are you sure?' } %>
</p>                