<html>
    <body>
        <header class="banner mainFont">
        </header>
        
        <main class="mainFont">
            <h1>Edit Journal</h1>
 
            <%= render 'form' %>

            <% link_to 'Back', journal_path %>
        </main>
    </body>
</html>