<html>
  <body class = "mainFont">
    <header class="banner">
    </header>

    <div class="main">
      <h1>New Food Journal Entry</h1>
      
      <%= render'form' %>
     
    <%= link_to 'Back', journals_path, class: 'button' %>
    </div>
  </body>
</html>