<p>
    <strong>Title:</strong>
    <%= @journal.title %>
</p>

<p>
    <strong>Text:</strong>
    <%= @journal.text %>
</p>

<<<<<<< HEAD
<%= link_to 'Journal List', journals_path %>
=======
<p>
    <%= link_to 'Home', controller: 'journals' %>
</p>
>>>>>>> 3fd556b1c923f3e317c33aae682305b57121761a
